
:root {
    --color1: #ffc107;

}
.btn:hover{
    transform: scale(1.1);
}
/*********************** planning ******************************************/

#agenda .agenda-titles{
    margin-bottom: 0.3rem;
}
#agenda .agenda-titles li{
    display: inline-block;
    background-color: #d9d9d9;
    margin: 5px;
    padding: 0.2rem 0.3rem;
    transition: all .3s ease-in-out;
    min-width:125px
}
#agenda .agenda-titles li:hover{
     transform: scale(1.2);
}
#agenda .agenda-titles li.active , #agenda .agenda-titles li:hover{
    background-color:  blue;
    color: white;
    cursor: pointer;
}
#agenda > div{
    display: none;
}
#agenda > div.active{
    display:block;
    background-color: #fff;
    width: 100%;
}
#td{
    height: 65px;

}




/************************* heures supp ********************************************/
.table-heaurSupp{
    height: 322px;
}
/* ***************************accueil admin *************************************/
.accueil{
    border-left:  10px solid var(--color1);
    padding-left: 0px;
    margin-top: 20px;

}
.accueil > a {
    display: flex;
    background-color: #4977bc;
    padding-top:15px ;
    padding-bottom:15px ;
    text-decoration: none;
    color: #d9d9d9;
    max-height: 50px;
    font-size: 12px;
}
.accueil > a:hover{
    transform: scale(1.2);
}
/************************************ responsive design / mobile*******************/
@media only screen and (max-width:768px)
{

    .table-liste{
        font-size: 12px;
        overflow:scroll;
    }
    .table-editeConge{
        font-size: 10px;
    }
    .table-heureSupp2{
        font-size: 10px;
    }

}

